p {
  color: thistle;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

h1 {
  color: dodgerblue;
  font-style: oblique;

}

li {
  color: thistle;
  font-weight: bolder;
}
body {
  background-color: darkslateblue;
  font-family: sans-serif;
  text-align: center;
}
a {
  color: thistle;
}
a:visited {
  color: mediumorchid;
}
