p {
  color: red;
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

h1 {
  color: dodgerblue;
  font-style: oblique;

}

li {
  color: lavender;
  font-weight: bolder;
}
body {
  background-color: darkslateblue;
}
